.sample-prices {
  display: inline-block;
  background-color: green;
  /*margin-right: 7px;*/
  color: white;
  padding: 2px 4px 2px 4px;
  border-radius: 5px;
  text-align: left;
  margin-right: 1%;
}

.block-sample-prices {
  /*text-align: center;*/
  margin: 15px auto;
}

.products-table {
  margin-top: 10px;
}

.little-cells-product {
  width: 10%
}

.description-product {
  width: 60%;
}

.rightText {
  text-align: right;
}

.receipt-title {
  display: inline-block;
  margin: 0 0 0 0;
}

.receipt-title-buttons {
  display: inline-block;
}

.link-clients {
  color: white;
  display: block;
}

.link-clients:hover {
  color: white;
  text-decoration: none;
}

.inline-block {
  display: inline-block;
}

.client-label {
  margin-right: 40px;
}

.total-label {
  text-align: right;
}

.forms-reduced {
  width: 25%;
  margin-left: 20px;
}
