.block-sample-prices {
  margin: 15px auto;
}

.name-product {
  color: #424242;
  font-family: Times, "Times New Roman", serif;
}

.row-table {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.sample-prices {
  display: inline-block;
  background-color: green;
  /*margin-right: 7px;*/
  color: white;
  padding: 2px 4px 2px 4px;
  border-radius: 5px;
  text-align: left;
  margin-right: 1%;
}

.title-product {
  margin-top: 0;
}
