.center-text {
  text-align: center;
}

.center-text-head > th {
  text-align: center;
}

.client-label {
  margin-right: 40px;
}

.credit-button {
  margin-top: 10px;
}

.inline-block {
  display: inline-block;
}

.link-clients {
  color: white;
  display: block;
  padding-right: 10px;
  padding-left: 10px;
}

.link-clients:hover {
  color: white;
  text-decoration: none;
}

.receipt-title {
  display: inline-block;
  margin: 0 0 10px 0;
}

.total-label {
  text-align: right;
}

.total-h2 {
  margin-top: 0px;
}