.row-table-selected tr:hover{
  background-color: #757575;
  cursor: pointer;
  color: white !important;
}

.margin-top-zero {
  margin-top: 0px;
}

.padding-sides-zero {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.text-center {
  text-align: center !important;
}